<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div *ngIf="cartItems.length > 0">

                <table class="table table-bordered">
                    <tr>
                        <th width="20%" i18n>Image</th>
                        <th width="50%" i18n>Detail</th>
                        <th width="30%"></th>
                    </tr>
                    <tr *ngFor="let tempCartItem of cartItems">
                        <td>
                            <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="150px" />
                        </td>
                        <td>
                            <p> {{ tempCartItem.name }}</p>
                            <p> {{ tempCartItem.unitPrice | currency }}</p>
                        </td>
                        <td>
                            <div class="items">
                                <label><span i18n>Quantity</span>:</label>

                                <div class="row no-gutters">
                                    <div class="col">
                                        <button (click)="incrementQuantity(tempCartItem)"
                                            class="btn btn-primary btn-sm">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>

                                    <div class="col ml-4 mr-2">
                                        {{ tempCartItem.quantity }}
                                    </div>

                                    <div class="col">
                                        <button (click)="decrementQuantity(tempCartItem)"
                                            class="btn btn-primary btn-sm">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>

                                    <div class="col-8"></div>
                                </div>

                                <div class="row no-gutters mt-2">
                                    <div class="col">
                                        <button (click)="remove(tempCartItem)"
                                            class="btn btn-primary btn-sm" i18n>Remove</button>
                                    </div>
                                </div>
                            </div>

                            <p class="mt-2">
                                <span i18n>Subtotal</span>: {{ tempCartItem.quantity * tempCartItem.unitPrice | currency }}
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td style="font-weight:bold">
                            <p><span i18n>Total Quantity</span>: {{ totalQuantity }}</p>
                            <p><span i18n>Shipping</span>: FREE</p>
                            <p><span i18n>Total Price</span>: {{ totalPrice | currency }}</p>
                        </td>
                    </tr>
                </table>

            </div>

            <!-- if cart is empty then display a message -->
            <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
                <span i18n>Your shopping cart is empty.</span>
            </div>

            <a routerLink="/products" class="mt-5" i18n>Back</a>
        </div>
    </div>
</div>